@import './styles/button.css';
@import './styles/info.css';
@import './styles/body.css';
@import './styles/results.css';
@import './styles/inputs.css';

.top-border {
    border-top: 1px solid aliceblue;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.021), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.021));
    padding-top: 5px;
    border-image-slice: 1;
    width: 90%;
}

/* Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

Firefox
input[type=number] {
  -moz-appearance: textfield;
} */