.info-icon {
    position: relative;
    margin-left: 5px;
}

.tooltip {
    visibility: hidden;
    min-width: 150px;
    background-color: #333;
    color: aliceblue;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing: border-box;
    word-wrap: break-word;
}

.info-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.icon {
    width: 16px;
    cursor: pointer;
}
